#connexion {
    position: absolute;
    right: 5px;
}

#Inscription {
    margin: auto;
    margin-top: 1.0rem;
    text-align: center;
}

#contenu1 {
    margin-top: 2.9rem;
    text-align: center;
}

#bar,
#bar-inscription {
    width: 90%;
    margin: auto;
    margin-bottom: 0.5rem;
}

div.contenu {
    position: relative;
}